<div class="parallax-container " id="index-banner ">
    <div class="section ">
      <div class="container ">
        <br><br>
        <h1 class="header center white-text ">Luyện Thi Đại Học</h1>
        <div class="row center ">
          <h5 class="header col s12 white-text ">Cùng bạn chinh phục kì thi đại học</h5>
        </div>
        <div class="row center ">
          <div class="col s4 ">
            <i class="material-icons " id="turned_in ">turned_in</i>
            <h6 class="center white-text ">Chúng tôi sẽ giúp bạn nâng cao kĩ năng làm bài và đạt được kết quả tốt nhất trong kì thi đại học</h5>
          </div>
          <div class="col s4 ">
            <i class="material-icons " id="turned_in ">turned_in</i>
            <h6 class="center white-text ">Chúng tôi sẽ giúp bạn nâng cao kĩ năng làm bài và đạt được kết quả tốt nhất trong kì thi đại học</h5>
          </div>
          <div class="col s4 ">
            <i class="material-icons " id="turned_in ">turned_in</i>
            <h6 class="center white-text ">Chúng tôi sẽ giúp bạn nâng cao kĩ năng làm bài và đạt được kết quả tốt nhất trong kì thi đại học</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax ">
      <img src="images/loginpage1.png " alt=" ">
    </div>
  </div>
