<nav class="white">
      <div class="nav-wrapper nav-wrapper-login">
        <a href="#"><img src="images/home.png" id="home"></a>
        <img src="images/main_logo_1.png" id="logo">
        <ul class="right hide-on-med-and-down ">
          <li><a href="#" class="black-text menu" onclick="scroll_to_aboutus()">About us</a></li>
          <li><a href="#" class="black-text menu">Login</a></li>
          <li><a href="#" class="black-text menu">Signin</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a href="#" class="black-text" onclick=" scroll_to_aboutus() ">About us</a></li>
          <li><a href="# " class="black-text ">Login</a></li>
          <li><a href="# " class="black-text ">Signin</a></li>
        </ul>
      </div>
</nav>
