<link rel="stylesheet" href="../css/exam.css">

<div class="row">
  <div class="col s9 l9">
    <object type="application/pdf" width="100%" height="1000px" data="../pdf/pdf.pdf?#zoom=120&scrollbar=0&toolbar=0&navpanes=0" id="pdf_content">
        <p>Insert your error message here, if the PDF cannot be displayed.</p>
    </object>
  </div>
  <div class="col s3 l3">
    <form class="" action="../testexam" method="post">
      <p>
        01.
        <input type="radio" name="q1" value="A" id="1_A">
        <label for="1_A">A </label>
        <input type="radio" name="q1" value="B" id="1_B">
        <label for="1_B">B </label>
        <input type="radio" name="q1" value="C" id="1_C">
        <label for="1_C">C </label>
        <input type="radio" name="q1" value="D" id="1_D">
        <label for="1_D">D </label>
        <br>
        02.
        <input type="radio" name="q2" value="A" id="2_A">
        <label for="2_A">A </label>
        <input type="radio" name="q2" value="B" id="2_B">
        <label for="2_B">B </label>
        <input type="radio" name="q2" value="C" id="2_C">
        <label for="2_C">C </label>
        <input type="radio" name="q2" value="D" id="2_D">
        <label for="2_D">D </label>
        <br>
        03.
        <input type="radio" name="q3" value="A" id="3_A">
        <label for="3_A">A </label>
        <input type="radio" name="q3" value="B" id="3_B">
        <label for="3_B">B </label>
        <input type="radio" name="q3" value="C" id="3_C">
        <label for="3_C">C </label>
        <input type="radio" name="q3" value="D" id="3_D">
        <label for="3_D">D </label>
        <br>
        04.
        <input type="radio" name="q4" value="A" id="4_A">
        <label for="4_A">A </label>
        <input type="radio" name="q4" value="B" id="4_B">
        <label for="4_B">B </label>
        <input type="radio" name="q4" value="C" id="4_C">
        <label for="4_C">C </label>
        <input type="radio" name="q4" value="D" id="4_D">
        <label for="4_D">D </label>
        <br>
        05.
        <input type="radio" name="q5" value="A" id="5_A">
        <label for="5_A">A </label>
        <input type="radio" name="q5" value="B" id="5_B">
        <label for="5_B">B </label>
        <input type="radio" name="q5" value="C" id="5_C">
        <label for="5_C">C </label>
        <input type="radio" name="q5" value="D" id="5_D">
        <label for="5_D">D </label>
        <br>
        06.
        <input type="radio" name="q6" value="A" id="6_A">
        <label for="6_A">A </label>
        <input type="radio" name="q6" value="B" id="6_B">
        <label for="6_B">B </label>
        <input type="radio" name="q6" value="C" id="6_C">
        <label for="6_C">C </label>
        <input type="radio" name="q6" value="D" id="6_D">
        <label for="6_D">D </label>
        <br>
        07.
        <input type="radio" name="q7" value="A" id="7_A">
        <label for="7_A">A </label>
        <input type="radio" name="q7" value="B" id="7_B">
        <label for="7_B">B </label>
        <input type="radio" name="q7" value="C" id="7_C">
        <label for="7_C">C </label>
        <input type="radio" name="q7" value="D" id="7_D">
        <label for="7_D">D </label>
        <br>
        08.
        <input type="radio" name="q8" value="A" id="8_A">
        <label for="8_A">A </label>
        <input type="radio" name="q8" value="B" id="8_B">
        <label for="8_B">B </label>
        <input type="radio" name="q8" value="C" id="8_C">
        <label for="8_C">C </label>
        <input type="radio" name="q8" value="D" id="8_D">
        <label for="8_D">D </label>
        <br>
        09.
        <input type="radio" name="q9" value="A" id="9_A">
        <label for="9_A">A </label>
        <input type="radio" name="q9" value="B" id="9_B">
        <label for="9_B">B </label>
        <input type="radio" name="q9" value="C" id="9_C">
        <label for="9_C">C </label>
        <input type="radio" name="q9" value="D" id="9_D">
        <label for="9_D">D </label>
        <br>
        10.
        <input type="radio" name="q10" value="A" id="10_A">
        <label for="10_A">A </label>
        <input type="radio" name="q10" value="B" id="10_B">
        <label for="10_B">B </label>
        <input type="radio" name="q10" value="C" id="10_C">
        <label for="10_C">C </label>
        <input type="radio" name="q10" value="D" id="10_D">
        <label for="10_D">D </label>
        <br>
        11.
        <input type="radio" name="q11" value="A" id="11_A">
        <label for="11_A">A </label>
        <input type="radio" name="q11" value="B" id="11_B">
        <label for="11_B">B </label>
        <input type="radio" name="q11" value="C" id="11_C">
        <label for="11_C">C </label>
        <input type="radio" name="q11" value="D" id="11_D">
        <label for="11_D">D </label>
        <br>
        12.
        <input type="radio" name="q12" value="A" id="12_A">
        <label for="12_A">A </label>
        <input type="radio" name="q12" value="B" id="12_B">
        <label for="12_B">B </label>
        <input type="radio" name="q12" value="C" id="12_C">
        <label for="12_C">C </label>
        <input type="radio" name="q12" value="D" id="12_D">
        <label for="12_D">D </label>
        <br>
        13.
        <input type="radio" name="q13" value="A" id="13_A">
        <label for="13_A">A </label>
        <input type="radio" name="q13" value="B" id="13_B">
        <label for="13_B">B </label>
        <input type="radio" name="q13" value="C" id="13_C">
        <label for="13_C">C </label>
        <input type="radio" name="q13" value="D" id="13_D">
        <label for="13_D">D </label>
        <br>
        14.
        <input type="radio" name="q14" value="A" id="14_A">
        <label for="14_A">A </label>
        <input type="radio" name="q14" value="B" id="14_B">
        <label for="14_B">B </label>
        <input type="radio" name="q14" value="C" id="14_C">
        <label for="14_C">C </label>
        <input type="radio" name="q14" value="D" id="14_D">
        <label for="14_D">D </label>
        <br>
        15.
        <input type="radio" name="q15" value="A" id="15_A">
        <label for="15_A">A </label>
        <input type="radio" name="q15" value="B" id="15_B">
        <label for="15_B">B </label>
        <input type="radio" name="q15" value="C" id="15_C">
        <label for="15_C">C </label>
        <input type="radio" name="q15" value="D" id="15_D">
        <label for="15_D">D </label>
        <br>
        16.
        <input type="radio" name="q16" value="A" id="16_A">
        <label for="16_A">A </label>
        <input type="radio" name="q16" value="B" id="16_B">
        <label for="16_B">B </label>
        <input type="radio" name="q16" value="C" id="16_C">
        <label for="16_C">C </label>
        <input type="radio" name="q16" value="D" id="16_D">
        <label for="16_D">D </label>
        <br>
        17.
        <input type="radio" name="q17" value="A" id="17_A">
        <label for="17_A">A </label>
        <input type="radio" name="q17" value="B" id="17_B">
        <label for="17_B">B </label>
        <input type="radio" name="q17" value="C" id="17_C">
        <label for="17_C">C </label>
        <input type="radio" name="q17" value="D" id="17_D">
        <label for="17_D">D </label>
        <br>
        18.
        <input type="radio" name="q18" value="A" id="18_A">
        <label for="18_A">A </label>
        <input type="radio" name="q18" value="B" id="18_B">
        <label for="18_B">B </label>
        <input type="radio" name="q18" value="C" id="18_C">
        <label for="18_C">C </label>
        <input type="radio" name="q18" value="D" id="18_D">
        <label for="18_D">D </label>
        <br>
        19.
        <input type="radio" name="q19" value="A" id="19_A">
        <label for="19_A">A </label>
        <input type="radio" name="q19" value="B" id="19_B">
        <label for="19_B">B </label>
        <input type="radio" name="q19" value="C" id="19_C">
        <label for="19_C">C </label>
        <input type="radio" name="q19" value="D" id="19_D">
        <label for="19_D">D </label>
        <br>
        20.
        <input type="radio" name="q20" value="A" id="20_A">
        <label for="20_A">A </label>
        <input type="radio" name="q20" value="B" id="20_B">
        <label for="20_B">B </label>
        <input type="radio" name="q20" value="C" id="20_C">
        <label for="20_C">C </label>
        <input type="radio" name="q20" value="D" id="20_D">
        <label for="20_D">D </label>
        <br>
        21.
        <input type="radio" name="q21" value="A" id="21_A">
        <label for="21_A">A </label>
        <input type="radio" name="q21" value="B" id="21_B">
        <label for="21_B">B </label>
        <input type="radio" name="q21" value="C" id="21_C">
        <label for="21_C">C </label>
        <input type="radio" name="q21" value="D" id="21_D">
        <label for="21_D">D </label>
        <br>
        22.
        <input type="radio" name="q22" value="A" id="22_A">
        <label for="22_A">A </label>
        <input type="radio" name="q22" value="B" id="22_B">
        <label for="22_B">B </label>
        <input type="radio" name="q22" value="C" id="22_C">
        <label for="22_C">C </label>
        <input type="radio" name="q22" value="D" id="22_D">
        <label for="22_D">D </label>
        <br>
        23.
        <input type="radio" name="q23" value="A" id="23_A">
        <label for="23_A">A </label>
        <input type="radio" name="q23" value="B" id="23_B">
        <label for="23_B">B </label>
        <input type="radio" name="q23" value="C" id="23_C">
        <label for="23_C">C </label>
        <input type="radio" name="q23" value="D" id="23_D">
        <label for="23_D">D </label>
        <br>
        24.
        <input type="radio" name="q24" value="A" id="24_A">
        <label for="24_A">A </label>
        <input type="radio" name="q24" value="B" id="24_B">
        <label for="24_B">B </label>
        <input type="radio" name="q24" value="C" id="24_C">
        <label for="24_C">C </label>
        <input type="radio" name="q24" value="D" id="24_D">
        <label for="24_D">D </label>
        <br>
        25.
        <input type="radio" name="q25" value="A" id="25_A">
        <label for="25_A">A </label>
        <input type="radio" name="q25" value="B" id="25_B">
        <label for="25_B">B </label>
        <input type="radio" name="q25" value="C" id="25_C">
        <label for="25_C">C </label>
        <input type="radio" name="q25" value="D" id="25_D">
        <label for="25_D">D </label>
        <br>
        26.
        <input type="radio" name="q26" value="A" id="26_A">
        <label for="26_A">A </label>
        <input type="radio" name="q26" value="B" id="26_B">
        <label for="26_B">B </label>
        <input type="radio" name="q26" value="C" id="26_C">
        <label for="26_C">C </label>
        <input type="radio" name="q26" value="D" id="26_D">
        <label for="26_D">D </label>
        <br>
        27.
        <input type="radio" name="q27" value="A" id="27_A">
        <label for="27_A">A </label>
        <input type="radio" name="q27" value="B" id="27_B">
        <label for="27_B">B </label>
        <input type="radio" name="q27" value="C" id="27_C">
        <label for="27_C">C </label>
        <input type="radio" name="q27" value="D" id="27_D">
        <label for="27_D">D </label>
        <br>
        28.
        <input type="radio" name="q28" value="A" id="28_A">
        <label for="28_A">A </label>
        <input type="radio" name="q28" value="B" id="28_B">
        <label for="28_B">B </label>
        <input type="radio" name="q28" value="C" id="28_C">
        <label for="28_C">C </label>
        <input type="radio" name="q28" value="D" id="28_D">
        <label for="28_D">D </label>
        <br>
        29.
        <input type="radio" name="q29" value="A" id="29_A">
        <label for="29_A">A </label>
        <input type="radio" name="q29" value="B" id="29_B">
        <label for="29_B">B </label>
        <input type="radio" name="q29" value="C" id="29_C">
        <label for="29_C">C </label>
        <input type="radio" name="q29" value="D" id="29_D">
        <label for="29_D">D </label>
        <br>
        30.
        <input type="radio" name="q30" value="A" id="30_A">
        <label for="30_A">A </label>
        <input type="radio" name="q30" value="B" id="30_B">
        <label for="30_B">B </label>
        <input type="radio" name="q30" value="C" id="30_C">
        <label for="30_C">C </label>
        <input type="radio" name="q30" value="D" id="30_D">
        <label for="30_D">D </label>
        <br>
        31.
        <input type="radio" name="q31" value="A" id="31_A">
        <label for="31_A">A </label>
        <input type="radio" name="q31" value="B" id="31_B">
        <label for="31_B">B </label>
        <input type="radio" name="q31" value="C" id="31_C">
        <label for="31_C">C </label>
        <input type="radio" name="q31" value="D" id="31_D">
        <label for="31_D">D </label>
        <br>
        32.
        <input type="radio" name="q32" value="A" id="32_A">
        <label for="32_A">A </label>
        <input type="radio" name="q32" value="B" id="32_B">
        <label for="32_B">B </label>
        <input type="radio" name="q32" value="C" id="32_C">
        <label for="32_C">C </label>
        <input type="radio" name="q32" value="D" id="32_D">
        <label for="32_D">D </label>
        <br>
        33.
        <input type="radio" name="q33" value="A" id="33_A">
        <label for="33_A">A </label>
        <input type="radio" name="q33" value="B" id="33_B">
        <label for="33_B">B </label>
        <input type="radio" name="q33" value="C" id="33_C">
        <label for="33_C">C </label>
        <input type="radio" name="q33" value="D" id="33_D">
        <label for="33_D">D </label>
        <br>
        34.
        <input type="radio" name="q34" value="A" id="34_A">
        <label for="34_A">A </label>
        <input type="radio" name="q34" value="B" id="34_B">
        <label for="34_B">B </label>
        <input type="radio" name="q34" value="C" id="34_C">
        <label for="34_C">C </label>
        <input type="radio" name="q34" value="D" id="34_D">
        <label for="34_D">D </label>
        <br>
        35.
        <input type="radio" name="q35" value="A" id="35_A">
        <label for="35_A">A </label>
        <input type="radio" name="q35" value="B" id="35_B">
        <label for="35_B">B </label>
        <input type="radio" name="q35" value="C" id="35_C">
        <label for="35_C">C </label>
        <input type="radio" name="q35" value="D" id="35_D">
        <label for="35_D">D </label>
        <br>
        36.
        <input type="radio" name="q36" value="A" id="36_A">
        <label for="36_A">A </label>
        <input type="radio" name="q36" value="B" id="36_B">
        <label for="36_B">B </label>
        <input type="radio" name="q36" value="C" id="36_C">
        <label for="36_C">C </label>
        <input type="radio" name="q36" value="D" id="36_D">
        <label for="36_D">D </label>
        <br>
        37.
        <input type="radio" name="q37" value="A" id="37_A">
        <label for="37_A">A </label>
        <input type="radio" name="q37" value="B" id="37_B">
        <label for="37_B">B </label>
        <input type="radio" name="q37" value="C" id="37_C">
        <label for="37_C">C </label>
        <input type="radio" name="q37" value="D" id="37_D">
        <label for="37_D">D </label>
        <br>
        38.
        <input type="radio" name="q38" value="A" id="38_A">
        <label for="38_A">A </label>
        <input type="radio" name="q38" value="B" id="38_B">
        <label for="38_B">B </label>
        <input type="radio" name="q38" value="C" id="38_C">
        <label for="38_C">C </label>
        <input type="radio" name="q38" value="D" id="38_D">
        <label for="38_D">D </label>
        <br>
        39.
        <input type="radio" name="q39" value="A" id="39_A">
        <label for="39_A">A </label>
        <input type="radio" name="q39" value="B" id="39_B">
        <label for="39_B">B </label>
        <input type="radio" name="q39" value="C" id="39_C">
        <label for="39_C">C </label>
        <input type="radio" name="q39" value="D" id="39_D">
        <label for="39_D">D </label>
        <br>
        40.
        <input type="radio" name="q40" value="A" id="40_A">
        <label for="40_A">A </label>
        <input type="radio" name="q40" value="B" id="40_B">
        <label for="40_B">B </label>
        <input type="radio" name="q40" value="C" id="40_C">
        <label for="40_C">C </label>
        <input type="radio" name="q40" value="D" id="40_D">
        <label for="40_D">D </label>
        <br>
        41.
        <input type="radio" name="q41" value="A" id="41_A">
        <label for="41_A">A </label>
        <input type="radio" name="q41" value="B" id="41_B">
        <label for="41_B">B </label>
        <input type="radio" name="q41" value="C" id="41_C">
        <label for="41_C">C </label>
        <input type="radio" name="q41" value="D" id="41_D">
        <label for="41_D">D </label>
        <br>
        42.
        <input type="radio" name="q42" value="A" id="42_A">
        <label for="42_A">A </label>
        <input type="radio" name="q42" value="B" id="42_B">
        <label for="42_B">B </label>
        <input type="radio" name="q42" value="C" id="42_C">
        <label for="42_C">C </label>
        <input type="radio" name="q42" value="D" id="42_D">
        <label for="42_D">D </label>
        <br>
        43.
        <input type="radio" name="q43" value="A" id="43_A">
        <label for="43_A">A </label>
        <input type="radio" name="q43" value="B" id="43_B">
        <label for="43_B">B </label>
        <input type="radio" name="q43" value="C" id="43_C">
        <label for="43_C">C </label>
        <input type="radio" name="q43" value="D" id="43_D">
        <label for="43_D">D </label>
        <br>
        44.
        <input type="radio" name="q44" value="A" id="44_A">
        <label for="44_A">A </label>
        <input type="radio" name="q44" value="B" id="44_B">
        <label for="44_B">B </label>
        <input type="radio" name="q44" value="C" id="44_C">
        <label for="44_C">C </label>
        <input type="radio" name="q44" value="D" id="44_D">
        <label for="44_D">D </label>
        <br>
        45.
        <input type="radio" name="q45" value="A" id="45_A">
        <label for="45_A">A </label>
        <input type="radio" name="q45" value="B" id="45_B">
        <label for="45_B">B </label>
        <input type="radio" name="q45" value="C" id="45_C">
        <label for="45_C">C </label>
        <input type="radio" name="q45" value="D" id="45_D">
        <label for="45_D">D </label>
        <br>
        46.
        <input type="radio" name="q46" value="A" id="46_A">
        <label for="46_A">A </label>
        <input type="radio" name="q46" value="B" id="46_B">
        <label for="46_B">B </label>
        <input type="radio" name="q46" value="C" id="46_C">
        <label for="46_C">C </label>
        <input type="radio" name="q46" value="D" id="46_D">
        <label for="46_D">D </label>
        <br>
        47.
        <input type="radio" name="q47" value="A" id="47_A">
        <label for="47_A">A </label>
        <input type="radio" name="q47" value="B" id="47_B">
        <label for="47_B">B </label>
        <input type="radio" name="q47" value="C" id="47_C">
        <label for="47_C">C </label>
        <input type="radio" name="q47" value="D" id="47_D">
        <label for="47_D">D </label>
        <br>
        48.
        <input type="radio" name="q48" value="A" id="48_A">
        <label for="48_A">A </label>
        <input type="radio" name="q48" value="B" id="48_B">
        <label for="48_B">B </label>
        <input type="radio" name="q48" value="C" id="48_C">
        <label for="48_C">C </label>
        <input type="radio" name="q48" value="D" id="48_D">
        <label for="48_D">D </label>
        <br>
        49.
        <input type="radio" name="q49" value="A" id="49_A">
        <label for="49_A">A </label>
        <input type="radio" name="q49" value="B" id="49_B">
        <label for="49_B">B </label>
        <input type="radio" name="q49" value="C" id="49_C">
        <label for="49_C">C </label>
        <input type="radio" name="q49" value="D" id="49_D">
        <label for="49_D">D </label>
        <br>
        50.
        <input type="radio" name="q50" value="A" id="50_A">
        <label for="50_A">A </label>
        <input type="radio" name="q50" value="B" id="50_B">
        <label for="50_B">B </label>
        <input type="radio" name="q50" value="C" id="50_C">
        <label for="50_C">C </label>
        <input type="radio" name="q50" value="D" id="50_D">
        <label for="50_D">D </label>
        <br>

        <input type="submit" name="" value="Submit">
      </p>
    </form>
  </form>
  </div>
</div>
