<div class="wrapper-nav">
        <nav class="teal lighten-2 menu-holizontal" id="nav">
        <ul class="left">
          <li class="active"><a href="#"><i class="fa fa-book icon_of_menu_holizontal"  aria-hidden="true"></i>  Môn Học</a></li>
          <li><a href="#"><i class="fa fa-bar-chart icon_of_menu_holizontal" aria-hidden="true"></i>  Tiến Trình</a></li>
          <li><a href="#"><i class="fa fa-newspaper-o icon_of_menu_holizontal" aria-hidden="true"></i>  Tin Tức</a></li>
          <li><a href="#"><i class="fa fa-commenting icon_of_menu_holizontal" aria-hidden="true"></i>  Diễn đàn</a></li>
        </ul>
        <div class="right" style="max-height:100%">
          <span id='block_avatar'>
            <img id='avatar' src="https://scontent.xx.fbcdn.net/v/t1.0-1/p50x50/18740316_1850168941975041_8775827599142167768_n.jpg?oh=3957500fbecf2f8e1719f92ad3e64331&oe=59D3830A" alt="">
            Lai Trung Kien
            <i class="fa fa-caret-down dropdown-button" aria-hidden="true" data-beloworigin="true" data-activates='dropdown' style="height:15px"></i>
            <ul class='dropdown-content'id='dropdown' >
              <li><a href="#">Logout</a></li>
            </ul>
          </span>
        </div>
      </nav>
    </div>

    <br>
    <div class="divider"></div>

    <div class="row">
      <div class="col s2 l2" >
        <div id="menu-vertical" class="teal lighten-2">
          <ul>
            <li><a href="#">Toán</a></li>
            <li><a href="#">Lý</a></li>
            <li><a href="#">Hoá</a></li>
            <li><a href="#">Sinh</a></li>
            <li><a href="#">Anh</a></li>
          </ul>
        </div>
      </div>
      <div class="col s8 l8">
        <div class="row">
          <div class="col s12 l12">
            <div id="quote" class="block_slidedown">
              <blockquote>
                Quote' today:
                <br>
                Many of life's failures are people who did not realize how close they were to success when they gave up.
                <br>
              </blockquote>
            </div>
            <br>
            <div id="exams" class="block_slidedown">
              <h6>Danh sách đề thi:</h6>
              <h6><i class="fa fa-star yellow-text fa-1x" aria-hidden="true"></i> Dễ</h6>
              <div class="collection">
                 <a href="#!" class="collection-item">Alvin<i class="fa fa-eye right" aria-hidden="true"></i></a>
                 <a href="#!" class="collection-item">Alvin<i class="fa fa-eye right" aria-hidden="true"></i></a>
                 <a href="#!" class="collection-item">Alvin<i class="fa fa-eye right" aria-hidden="true"></i></a>
                 <a href="#!" class="collection-item">Alvin<i class="fa fa-eye right black-text" aria-hidden="true"></i></a>
               </div>
               <h6><i class="fa fa-star yellow-text fa-1x" aria-hidden="true"></i>
                 <i class="fa fa-star yellow-text fa-1x" aria-hidden="true"></i>
                  Trung bình</h6>
               <div class="collection">
                  <a href="#!" class="collection-item"><i class="fa fa-eye right black-text" aria-hidden="true"></i>Alvin</a>
                  <a href="#!" class="collection-item"><i class="fa fa-eye right black-text" aria-hidden="true"></i>Alvin</a>
                  <a href="#!" class="collection-item"><i class="fa fa-eye right black-text" aria-hidden="true"></i>Alvin</a>
                  <a href="#!" class="collection-item"><i class="fa fa-eye right black-text" aria-hidden="true"></i>Alvin</a>
                </div>
                <h6>
                  <i class="fa fa-star yellow-text fa-1x" aria-hidden="true"></i>
                  <i class="fa fa-star yellow-text fa-1x" aria-hidden="true"></i>
                  <i class="fa fa-star yellow-text fa-1x" aria-hidden="true"></i>
                   Khó</h6>
                <div class="collection">
                   <a href="#!" class="collection-item"><i class="fa fa-eye right black-text" aria-hidden="true"></i>Alvin</a>
                   <a href="#!" class="collection-item"><i class="fa fa-eye right black-text" aria-hidden="true"></i>Alvin</a>
                   <a href="#!" class="collection-item"><i class="fa fa-eye right black-text" aria-hidden="true"></i>Alvin</a>
                   <a href="#!" class="collection-item"><i class="fa fa-eye right black-text" aria-hidden="true"></i>Alvin</a>
                 </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s2 l2">
        <h6 class='center'><i class="fa fa-star-half-o yellow-text fa-lg" aria-hidden="true"></i> Top Ranking</h3>
          <div class="divider"></div>
          <table class="striped">
            <tbody>
              <tr>
                <td>1.Lai Trung Kien</td>
                <td>2000</td>
              </tr>
              <tr>
                <td>2.Lai Trung Kien</td>
                <td>1500</td>
              </tr>
              <tr>
                <td>3.Lai Trung Kien</td>
                <td>1000</td>
              </tr>
              <tr>
                <td>4.Lai Trung Kien</td>
                <td>600</td>
              </tr>
              <tr>
                <td>5.Lai Trung Kien</td>
                <td>300</td>
              </tr>
              <tr>
                <td>6.Lai Trung Kien</td>
                <td>300</td>
              </tr>
              <tr>
                <td>7.Lai Trung Kien</td>
                <td>300</td>
              </tr>
              <tr>
                <td>8.Lai Trung Kien</td>
                <td>300</td>
              </tr>
              <tr>
                <td>9.Lai Trung Kien</td>
                <td>300</td>
              </tr>
              <tr>
                <td>10.Lai Trung Kien</td>
                <td>300</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
