<link rel="stylesheet" href="/css/result.css">
<h1>{{answersUser}}</h1>
<h2>numberOfTrueAnswer</h2>
<h3>nowPoint</h3>
<h3>score</h3>
<br>

<div class="row">
  <div class="col s2 l2">
  </div>
  <div class="col s8 l8">
    <div>
      <div class="center-align">
        <i class="fa fa-cubes fa-3x" aria-hidden="true"></i> Result
      </div>
    </div>
    <br><br>

    <div id="name_of_exam">
      <div>
        <i class="fa fa-newspaper-o fa-2x" aria-hidden="true"></i>
        <span>Chuyen Hung Vuong lan 1</span>
      </div>
    </div>

    <hr>

    <div id="point">
      <div>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
        <span>8/10</span>
      </div>
    </div>

    <hr>

    <div id="point">
      <div>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
        <span>40/50 questions</span>
      </div>
    </div>

    <hr>

    <div id="point_bonus">
      <div>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
        <span>Bonus: 25</span>
      </div>
    </div>

    <hr>

    <div id="total_point">
      <div>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
        <span>Total point: 125</span>
      </div>
    </div>

    <hr>

    <div id="rank">
      <div>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
        <span>Ranking: 13</span>
      </div>
    </div>

    <hr>
    <div>
      <i class="fa fa-table fa-2x" aria-hidden="true"></i>
      <span>Answer sheet</span>
    </div>
    <div class="row">
      <div class="col s3 l3">
        <table>
          <tr>
            <th>Question</th>
            <th>Answer</th>
          </tr>
          <tr>
            <td>1</td>
            <td>A</td>
          </tr>
          <tr>
            <td>2</td>
            <td>A</td>
          </tr>
          <tr>
            <td>3</td>
            <td>A</td>
          </tr>
          <tr>
            <td>4</td>
            <td>A</td>
          </tr>
          <tr>
            <td>5</td>
            <td>A</td>
          </tr>
          <tr>
            <td>6</td>
            <td>A</td>
          </tr>
          <tr>
            <td>7</td>
            <td>A</td>
          </tr>
          <tr>
            <td>8</td>
            <td>A</td>
          </tr>
          <tr>
            <td>9</td>
            <td>A</td>
          </tr>
          <tr>
            <td>10</td>
            <td>A</td>
          </tr>
          <tr>
            <td>11</td>
            <td>A</td>
          </tr>
          <tr>
            <td>12</td>
            <td>A</td>
          </tr>
          <tr>
            <td>13</td>
            <td>A</td>
          </tr>
        </table>
      </div>
      <div class="col s3 l3">
        <table>
          <tr>
            <th>Question</th>
            <th>Answer</th>
          </tr>
          <tr>
            <td>14</td>
            <td>A</td>
          </tr>
          <tr>
            <td>15</td>
            <td>A</td>
          </tr>
          <tr>
            <td>16</td>
            <td>A</td>
          </tr>
          <tr>
            <td>17</td>
            <td>A</td>
          </tr>
          <tr>
            <td>18</td>
            <td>A</td>
          </tr>
          <tr>
            <td>19</td>
            <td>A</td>
          </tr>
          <tr>
            <td>20</td>
            <td>A</td>
          </tr>
          <tr>
            <td>21</td>
            <td>A</td>
          </tr>
          <tr>
            <td>22</td>
            <td>A</td>
          </tr>
          <tr>
            <td>23</td>
            <td>A</td>
          </tr>
          <tr>
            <td>24</td>
            <td>A</td>
          </tr>
          <tr>
            <td>25</td>
            <td>A</td>
          </tr>
          <tr>
            <td>26</td>
            <td>A</td>
          </tr>
        </table>
      </div>
      <div class="col s3 l3">
        <table>
          <tr>
            <th>Question</th>
            <th>Answer</th>
          </tr>
          <tr>
            <td>27</td>
            <td>A</td>
          </tr>
          <tr>
            <td>28</td>
            <td>A</td>
          </tr>
          <tr>
            <td>29</td>
            <td>A</td>
          </tr>
          <tr>
            <td>30</td>
            <td>A</td>
          </tr>
          <tr>
            <td>31</td>
            <td>A</td>
          </tr>
          <tr>
            <td>32</td>
            <td>A</td>
          </tr>
          <tr>
            <td>33</td>
            <td>A</td>
          </tr>
          <tr>
            <td>34</td>
            <td>A</td>
          </tr>
          <tr>
            <td>35</td>
            <td>A</td>
          </tr>
          <tr>
            <td>36</td>
            <td>A</td>
          </tr>
          <tr>
            <td>37</td>
            <td>A</td>
          </tr>
          <tr>
            <td>38</td>
            <td>A</td>
          </tr>
          <tr>
            <td>39</td>
            <td>A</td>
          </tr>
        </table>
      </div>
      <div class="col s3 l3">
        <table>
          <tr>
            <th>Question</th>
            <th>Answer</th>
          </tr>
          <tr>
            <td>40</td>
            <td>A</td>
          </tr>
          <tr>
            <td>41</td>
            <td>A</td>
          </tr>
          <tr>
            <td>42</td>
            <td>A</td>
          </tr>
          <tr>
            <td>43</td>
            <td>A</td>
          </tr>
          <tr>
            <td>44</td>
            <td>A</td>
          </tr>
          <tr>
            <td>45</td>
            <td>A</td>
          </tr>
          <tr>
            <td>46</td>
            <td>A</td>
          </tr>
          <tr>
            <td>47</td>
            <td>A</td>
          </tr>
          <tr>
            <td>48</td>
            <td>A</td>
          </tr>
          <tr>
            <td>49</td>
            <td>A</td>
          </tr>
          <tr>
            <td>50</td>
            <td>A</td>
          </tr>
          <tr>
            <td>50</td>
            <td>A</td>
          </tr>
          <tr>
            <td>50</td>
            <td>A</td>
          </tr>
        </table>
      </div>
      <hr>
      <br>
      <div>
        <i class="fa fa-table fa-2x" aria-hidden="true"></i>
        <span>Your answer</span>
      </div>
      <div class="row">
        <div class="col s3 l3">
          <table>
            <tr>
              <th>Question</th>
              <th>Answer</th>
            </tr>
            <tr>
              <td>1</td>
              <td>A</td>
            </tr>
            <tr>
              <td>2</td>
              <td>A</td>
            </tr>
            <tr>
              <td>3</td>
              <td>A</td>
            </tr>
            <tr>
              <td>4</td>
              <td>A</td>
            </tr>
            <tr>
              <td>5</td>
              <td>A</td>
            </tr>
            <tr>
              <td>6</td>
              <td>A</td>
            </tr>
            <tr>
              <td>7</td>
              <td>A</td>
            </tr>
            <tr>
              <td>8</td>
              <td>A</td>
            </tr>
            <tr>
              <td>9</td>
              <td>A</td>
            </tr>
            <tr>
              <td>10</td>
              <td>A</td>
            </tr>
            <tr>
              <td>11</td>
              <td>A</td>
            </tr>
            <tr>
              <td>12</td>
              <td>A</td>
            </tr>
            <tr>
              <td>13</td>
              <td>A</td>
            </tr>
          </table>
        </div>
        <div class="col s3 l3">
          <table>
            <tr>
              <th>Question</th>
              <th>Answer</th>
            </tr>
            <tr>
              <td>14</td>
              <td>A</td>
            </tr>
            <tr>
              <td>15</td>
              <td>A</td>
            </tr>
            <tr>
              <td>16</td>
              <td>A</td>
            </tr>
            <tr>
              <td>17</td>
              <td>A</td>
            </tr>
            <tr>
              <td>18</td>
              <td>A</td>
            </tr>
            <tr>
              <td>19</td>
              <td>A</td>
            </tr>
            <tr>
              <td>20</td>
              <td>A</td>
            </tr>
            <tr>
              <td>21</td>
              <td>A</td>
            </tr>
            <tr>
              <td>22</td>
              <td>A</td>
            </tr>
            <tr>
              <td>23</td>
              <td>A</td>
            </tr>
            <tr>
              <td>24</td>
              <td>A</td>
            </tr>
            <tr>
              <td>25</td>
              <td>A</td>
            </tr>
            <tr>
              <td>26</td>
              <td>A</td>
            </tr>
          </table>
        </div>
        <div class="col s3 l3">
          <table>
            <tr>
              <th>Question</th>
              <th>Answer</th>
            </tr>
            <tr>
              <td>27</td>
              <td>A</td>
            </tr>
            <tr>
              <td>28</td>
              <td>A</td>
            </tr>
            <tr>
              <td>29</td>
              <td>A</td>
            </tr>
            <tr>
              <td>30</td>
              <td>A</td>
            </tr>
            <tr>
              <td>31</td>
              <td>A</td>
            </tr>
            <tr>
              <td>32</td>
              <td>A</td>
            </tr>
            <tr>
              <td>33</td>
              <td>A</td>
            </tr>
            <tr>
              <td>34</td>
              <td>A</td>
            </tr>
            <tr>
              <td>35</td>
              <td>A</td>
            </tr>
            <tr>
              <td>36</td>
              <td>A</td>
            </tr>
            <tr>
              <td>37</td>
              <td>A</td>
            </tr>
            <tr>
              <td>38</td>
              <td>A</td>
            </tr>
            <tr>
              <td>39</td>
              <td>A</td>
            </tr>
          </table>
        </div>
        <div class="col s3 l3">
          <table>
            <tr>
              <th>Question</th>
              <th>Answer</th>
            </tr>
            <tr>
              <td>40</td>
              <td>A</td>
            </tr>
            <tr>
              <td>41</td>
              <td>A</td>
            </tr>
            <tr>
              <td>42</td>
              <td>A</td>
            </tr>
            <tr>
              <td>43</td>
              <td>A</td>
            </tr>
            <tr>
              <td>44</td>
              <td>A</td>
            </tr>
            <tr>
              <td>45</td>
              <td>A</td>
            </tr>
            <tr>
              <td>46</td>
              <td>A</td>
            </tr>
            <tr>
              <td>47</td>
              <td>A</td>
            </tr>
            <tr>
              <td>48</td>
              <td>A</td>
            </tr>
            <tr>
              <td>49</td>
              <td>A</td>
            </tr>
            <tr>
              <td>50</td>
              <td>A</td>
            </tr>
            <tr>
              <td>50</td>
              <td>A</td>
            </tr>
            <tr>
              <td>50</td>
              <td>A</td>
            </tr>
          </table>
        </div>
    </div>
  </div>
    <div class="col s3 l3">
    </div>
  </div>
